<!--Site:Diamond Web and Design
Author:Jerson Salazar Méndez
Updated:March,2016
Updated by:Jerson Salazar Méndez-->
<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<title>Diamond Web &amp; Design</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Web Design"/>
    <meta name="keywords" content="web design,branding,logo"/>
    <meta name="author" content="Jerson Salazar Mendez" />
    <meta name="owner" content="Jerson Salazar Mendez" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <meta name="robots" content="index,follow">
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <link rel="stylesheet" href="js/ui-bootstrap-1.1.0.min.js">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
	<link type="text/css" rel="stylesheet" href="http://getbootstrap.com/dist/css/bootstrap.css">
	<link href='https://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>
    <link rel="icon" type="image/png" href="img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="img/favicon/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="img/favicon/favicon-16x16.png" sizes="16x16">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
    <!--WARNING: Respond.js doesn't work if you view the page via file://-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body><!--body-->

    <section class="fluid-container"><!--NAV-->
        <nav id="home" role="navigation" class="navbar navbar-default navbar-inverse ">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle block-center">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="img-responsive logo-nav pt" src="img/logo-2.png" alt="logo">

            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse"><!--navbar collapse-->
                <ul class="nav navbar-nav navbar-right"><!--lista menu links-->
                    <li class="pt"><a href="#h-about">ABOUT US</a></li>
                    <li class="pt"><a href="#h-offert">WE OFFERT</a></li>
                    <li class="pt"><a href="#h-brand">BRANDS AND CLIENTS</a></li>
                    <li class="pt"><a href="#h-contact">CONTACT</a></li>
                    <li><a href="https://www.facebook.com/jsmwebanddesign/" target="_blank">
                        <i class="fa fa-facebook-square fa-2x"></i></a>
                    </li>
                    <li><a href="https://twitter.com/JersonSalazarM" target="_blank">
                        <i class="fa fa-twitter-square fa-2x"></i></a>
                    </li>
                </ul>  <!--End lista menu links-->
            </div><!--End navbar collapse-->
        </nav>
    </section><!--End NAV-->

    <section class="fluid-container video"><!--Video*container-->
        <div class="embed-responsive embed-responsive-16by9">
            <video id="my" class="hidden-xs visible-sm visible-md visible-lg cover-videoembed-responsive-item"align="center" autoplay="autoplay" loop poster="img/abcd.jpg" controls>
                <source src="video/abcd.mp4" type='video/mp4'/>
                <source src="video/abcd.webm" type='video/webm'/>
                <source src="video/abcd.ogv" type='video/ogg'/>
                <source src="video/abcd.ipad.mp4" type='video/mp4'/>
                Your browser dont support the element <code>video</code>
            </video>  

            <div class="row"><!--row 1-->
                <img class="logo row col-xs-8 col-xs-push-2 col-md-6 col-md-push-3" src="img/logo.png" alt="logo">
            </div><!--row 1-->

            <div class="row"><!--row 2-->
                <a href="#h-about"><i class="fa fa-angle-double-down fa-5x scroll"></i></a>
            </div><!--row 2-->
            <img id="img-cel" src="img/abcd.jpg" class="hidden-sm hidden-md hidden-lg img-responsive" alt="bg-home">
        </div>
    </section><!--End Video container-->

    <header id="h-about" class="h-about h"><!--Header About-->
        <div class="container"><!--Container about-->
            <div class="row"><!--row about-->
                <div class="col-xs-12 text-center">
                    <h3 class="pad-title">
                        <strong class="block-center">About Us<span class="blue"> / </span></strong>
                    </h3>    
                    <span>
                        <a href="#home"><img class="logo-2" src="img/diamond-header.png" alt="logo"></a>
                        <p class="text-center slide-bottom"><strong>Go to Top !</strong></p>
                    </span>
                  
                </div>
                   <img class="col-xs-10 col-xs-push-1 img-about img-responsive" src="img/about.jpg" alt="img-about">
              >
            </div><!--End row about-->
        </div><!--End Container about-->
    </header><!--End Header About -->

    <section id="about" ><!-- Seccion About us -->
        <div class="container"><!--container -->
            <div class="row row-about"><!--row About-->
               
                <div class="col-md-6  ">
                    <h4 class="text-center hidden-xs visible-md visible-lg pad-title">Brand</h4>
                    <img class="img-responsive hidden-xs hidden-sm visibility-md diamond-about-logo diamond-about" src="img/logo-b.png" alt="logo-diamond">
                </div>
                
                <div class="col-xs-12 col-md-6"><!--colums -->
                     <div class="row colums">
                        <div class="text-center col-xs-12 col-sm-4 columna subcolumna"><h4 class="pad-title">History</h4><p class="text-left slide-bottom">It comes with a studio project in 2015, it was there where this passion began design and web programming, always with our three core values: Quality, Self-criticism, and continuous learning.</p></div>
                        <div class="text-center col-xs-12 col-sm-4 columna subcolumna"><h4 class="pad-title">We do</h4><p class="text-left slide-bottom">Offer a service of Web application dOffer a service of Web application development, we are dedicated to providing advice and building Web sites, most of all to make pages for our clients.</p></div>
                        <div class="text-center col-xs-12 col-sm-4 columna subcolumna"><h4 class="pad-title">Experience</h4><p class="text-left slide-bottom">We have the experience and professional level to carry out your project with the latest technology, continuous training of our employees to provide the best result, like a diamond.</p></div>
                    </div>
                </div><!--End colums-->
            </div><!--End row About-->
            <hr>
            <div id="team" class="row"><!--row team-->
                <div class="col-xs-12 col-md-6 text-center">
                    <h4 class="text-center info-team pad-title">Team</h4>
                    <h4 class="pad-title"> Jerson Salazar M&eacute;ndez Web &amp; Design</h4>
                    <p class="text-justify pad-title">We have highly qualified employees in all areas both of design and the programming, Jerson Salazar Méndez, is the creator of this company and is currently the director of projects, both in the design part as web programming.</p>

                    <p class="text-justify pad-title">"In this day and year it is impossible to succeed as a business without the support of a company like web design diamond. So we are constantly Training to offer the best services".</p>

                    <p>
                        <strong>-J.S.M</strong>
                    </p>

                    <p>
                        <i class="fa fa-code"></i>
                        CEO and FOUNDER
                        <i class="fa fa-code"></i>
                    </p>

                    <p>
                        <a href="https://www.facebook.com/jsmwebanddesign/" target="_blank"><i class="social face fa fa-facebook-square face-team fa-2x"></i></a>
                        <a  href="https://twitter.com/JersonSalazarM" target="_blank"><i class=" social twitter fa fa-twitter-square fa-2x"></i></a>
                        <a href="https://www.behance.net/gallery/33849134/Portfolio-Design-Jerson-Salazar-Mendez" target="_blank"><i class="social behance fa fa-behance fa-2x"></i></a>
                    </p>
                </div>
                
                <div class="center-block slide col-xs-8 col-xs-push-2 col-xs-pull-2 col-sm-4 col-sm-push-4 col-md-4 col-md-push-1"><!--logo jerson-->
                    <img src="img/jerson.png" class="center-block jerson img-responsive slide-bottom" alt="jerson-logo">
                </div>
            </div><!--end row Team-->    
        </div><!--End container About us-->
    </section><!--End Seccion About Us-->

    <header id="h-offert" class="h offer"><!--Header We Offer-->
        <div class="container"><!--Container -->
            <div class="row text-center"><!--row offert 1-->
                <h3 class="pad-title">
                    <strong>We Offer<span class="blue"> / </span></strong>
                </h3>
                <span>
                    <a href="#home"><img class="logo-2" src="img/diamond-header.png" alt="logo"></a>
                    <p class="text-center slide-bottom"><strong>Go to Top !</strong></p>
                </span>
            </div><!--End row offert 1-->
            
            <div class="row"><!--row offert 2-->
                <img class="col-xs-6 img-responsive" src="img/offert-1.png" alt="">
                <p class="h-text-offert text-offert col-xs-6 text-center">
                Solid and strong
                <strong class="blue">work like a Diamond</strong> 
                </p>
            </div><!--End row offert 2-->
        </div> <!--End Container-->  
    </header><!--Header We Offer-->



    <section id="offert"><!--We Offer-->
        <div class="container-fluid offer"><!--container Offer--> 
            <div class="row"><!--row 1-->
                <div class="col-xs-12 col-sm-6 col-sm-pull offert-3reasons text-center set-height">
                    <p>
                        <h4 class="title-offert">
                            <strong class="blue">3 REASONS</strong>TO WORK TOGETHER WITH<strong class="blue">DIAMOND</strong >
                        </h4>
                    </p>
                </div>
                
                <div class="col-xs-12 col-sm-6">
                    <div class="row get-height">
                        <div class="square s-1 col-xs-4 col-sm-4 content">
                            <h1>01</h1> 
                            <p class="slide-bottom">Clients are friends. </p>
                        </div>
                        <div class="square s-2 col-xs-4 col-sm-4">
                            <h1>02</h1>
                            <p class="slide-bottom">We're 100% independent </p>
                        </div>
                        <div class="square s-3 col-xs-4 col-sm-4">
                            <h1>03</h1>
                            <p class="slide-bottom">There is no sales team, we just do great work.</p>
                        </div>
                    </div>
                </div>
            </div><!--End row 1-->

            <div class="row slide"><!--row 2-->
                <h4 class="text-center col-xs-12 text-offert-3">Diamond Web &amp; Design offers a broad range of services to help businesses and brands thrive in the digital age. </h4>
            </div><!--End row 2--> 

            <div class="row slide"><!--row 3 Creativity build design-->
                <div class="text-center col-xs-12 col-sm-4">
                    <i class="fa fa-lightbulb-o fa-5x"></i>
                    <h3>Creativity</h3>
                    <p class="slide-bottom">We are idea-driven, working with a strong focus on design and user experience. Our projects should engage your audience, we want to create wonderful digital things that people love to be part of and use. That's what your brand and audience deserve.</p>
                </div>
                <div class="text-center col-xs-12 col-sm-4">
                   <i class="fa fa-building-o fa-5x"></i>
                    <h3>Build</h3>
                    <p class="slide-bottom">We see technology as a creative discipline. No matter what it's about web development, mobile solutions or digital product development, we know how to use state-of-the-art technologies to bring sophisticated digital products to life.</p>
                </div>
                <div class="text-center col-xs-12 col-sm-4">
                    <i class="fa fa-cubes fa-5x"></i>
                    <h3>Design</h3>
                    <p class="slide-bottom">Exceptional digital projects start with a solid strategy. Research, competitor review, target group understanding and trend exploration help us to uncover how your brand should behave in the digital landscape and identify the best opportunities.</p>
                </div>
            </div><!--End row 3 Creativity build design-->
        </div><!--End container Offer-->
    </section><!--End We Offer-->

    <header id="h-brand" class="h"><!--Header BRAND -->
        <div class="container-fluid"><!--Container-->
            <div class="row"><!--row 1-->
                <div class="col-xs-12 text-center">
                    <h3 class="pad-title">
                        <strong class="block-center">Brands and Clients<span class="blue">/</span></strong>
                    </h3>    
                    <span>
                        <a href="#home"><img class="logo-2 " src="img/diamond-header.png" alt="logo"></a>
                        <p class="text-center slide-bottom"><strong>Go to Top !</strong></p>
                    </span>
                </div>
            </div><!--End row 1-->

            <div class="row"><!--row 2-->
                <p><h1 class="text-center col-xs-12 text-header-brand pad">WE CREATE EXPERIENCES FOR BRANDS AND COMPANIES BY USING CREATIVITY AND TECHNOLOGY.</h1></p>
            </div><!--End row 2-->
        </div><!--End Container-->
    </header><!-- End Header BRAND -->

    <div class="container"><!--Container BRAND-->
        <div class="row"><!--row 1-->
            <div class="col-xs-12">
               <h1 class="title-brand text-center slide">A glimpse of work we've done for forward thinking brands and clients.</h1>
            </div>
        </div><!--End row 1-->

        <div class="row"><!--row 2-->
            <figure>
                <img class="pad-img img-responsive col-xs-12 col-sm-4" src="img/photo.png" alt="brand">
                <img class="pad-img img-responsive col-xs-12 col-sm-4" src="img/pow.png" alt="brand">
                <img class="center-block pad-img img-responsive col-xs-12 col-sm-4" src="img/obscure.png" alt="brand">
            </figure>
        </div><!--End row 2-->

        <div class="row"><!--row 3-->
            <div class="col-xs-12" ng-show="seeElement">
                <p class="title-brand">From design to development, from mobile to social, from content production to monitoring and analytics. DIAMOND offers a broad range of services to help businesses and brands thrive in the digital age.</p>
            </div> 
        </div><!--End row 3-->

        <div ng-show="seeElement" class="row"><!--row 4-->
            <img class="home123 img-responsive col-xs-12 col-sm-4 slide" src="img/home1.jpg" alt="photography">
            <img class="home123 img-responsive col-xs-12 col-sm-4 slide" src="img/home2.jpg" alt="porwwow">
            <img class="home123 img-responsive col-xs-12 col-sm-4 slide" src="img/home3.jpg" alt="obscure">
        </div><!--End row 4-->
        
        <div class="row slide-bottom"><!--row 5-->
            <div class="col-xs-12 slide slide-bottom center-block">
                <button class="btn center-block primary" ng-show="!seeElement" ng-click="seeElement=true">Show web site</button>
                <button class="btn center-block secondary" ng-show="seeElement" ng-click="seeElement=false">Hide web site</button> 
            </div>
        </div><!--End row 5-->
    </div><!--Container  end BRAND-->



    <div class="container-fluid bg-contact"><!--Container form-->
        <header id="h-contact"><!-- Header contact -->
            <div class="container"><!--Container-->
                <div class="row"><!--row 1-->
                    <div class="col-xs-12 text-center">
                        <h3 class="pad-title">
                            <strong class="block-center c">Contact<span class="blue"> / </span></strong>
                        </h3>    
                        <span>
                            <a href="#home"><img class="logo-2" src="img/diamond-header.png" alt="logo"></a>
                            <p class="text-center slide-bottom"><strong>Go to Top !</strong></p>
                        </span>
                    </div>
                </div><!--End row 1-->

                <div class="row"><!--row 2-->
                    <div class="col-xs-12">
                        <p class="slide text-center c">
                            <span class="title-brand">Does your business need a website ?</span>
                            <br><br>
                            <a href="https://www.facebook.com/jsmwebanddesign/" target="_blank"><i class="social-2 fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://twitter.com/JersonSalazarM" target="_blank"><i class="social-2 slide-left fa fa-twitter-square fa-2x"></i></a>
                        </p>
                    </div>
                </div><!--End row 2-->
            </div><!--EndContainer-->
        </header><!-- End Header contact -->
        

        <div class="row"><!--row form 3-->
            <div class="col-sm-6 col-sm-offset-3">
                <form role="form" id="contactForm" class="form"><!--formulario -->
                    <div class="row"><!--row 4-->
                         <div class="form-group col-sm-6"><!--nombre-->
                            <label for="name" class="c">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter name" data-error="Bruh, that name is invalid" required>
                        </div><!--End nombre-->


                        <div class="form-group col-sm-6"><!--Email-->
                            <label for="email" class="c">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter email" data-error="Bruh, that email address is invalid" required>
                        </div><!--EndEmail-->
                    </div><!--End row 4-->

                    <div class="form-group"><!--mensaje-->
                        <label for="message" class="c">Message</label>
                        <textarea id="message" class="form-control" rows="5" placeholder="Enter your message" data-error="Bruh, that message is invalid" required></textarea>
                    </div><!--End mensaje-->

                    <div id="msgSubmit" class="h3 text-center hidden"><!--mensaje de enviado oculto-->
                        <p class="c social-2">Submitted!</p>
                    </div><!--End mensaje de enviado oculto-->
                    
                    <div class="row"><!--botones formulario-->
                        <button type="submit" id="form-submit" class="block-center btn-lg">Submit</button>
                        <button type="reset" id="form-reset" class="block-center btn-lg">Cancel</button>
                    </div><!--End botones formulario-->

                </form><!--End formulario-->
            </div>
        </div><!--end row 3 form-->
    </div><!--End Container form-->

    <footer>
        <div class="container"><!--container footer-->
                <div class="row"><!--row 1-->
                    <p class="col-xs-12 slide text-center">
                        <small>© Copyright 2016, Diamond Web &amp; Design</small>
                    </p>
                </div><!--End row 1-->
            </div><!--End container footer-->
    </footer>
<script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.js"></script><!--Bootstrap-->
<script type="text/javascript" src="js/form-scripts.js"></script><!--formulario--> 
<script src="js/app.js"></script><!--boton show hidden-->
<script src="js/animation_scroll.js"></script><!--animacion del scroll-->
<script src="js/size_background.js"></script><!--ajuste resize para background-->
<script src="js/blur_video.js"></script><!--blur al hacer scroll al video-->


</body><!--End body-->
</html>



